body{
    margin: 0px;
    max-width: 100%;
    background-color: #FEFEE3;
}

main{
    margin: 20px;
}

/* h1{
    text-align: center;
    font-family: cursive;
    font-size: 60px;
    line-height: 18px;
} */


.navbar{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: #2C6E49;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    text-align: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #283618;
}
.navbar li{
    float: left;
    text-align: center;
}