.moodboard {
    width: 100%;
    position: relative;
    background-color: #fefee3;
    height: 1024px;
    text-align: left;
    font-size: 24px;
    color: #606c38;
    font-family: Inter;
    scale: 80%;
    margin-left: -4em;
    margin-top: -4em;

}

.typography-child {
    position: absolute;
    top: 40px;
    left: 0px;
    max-height: 100%;
    width: 297px;
}
.typography1 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    font-weight: 700;
    font-family: Inter;
    color: #606c38;
    width: 205.3px;
    height: 33.8px;
}
.instrument-sans {
    position: absolute;
    top: 57.12px;
    left: 0px;
    display: inline-block;
    width: 263.5px;
    height: 33.8px;
}
.instrument-sans1 {
    position: absolute;
    top: 96.76px;
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 272.2px;
    height: 33.8px;
}
.lorem-ipsum-dolor {
    margin: 0;
    white-space: pre-wrap;
    color: #606c38;
}
.blank-line {
    margin: 0;
}
.labore-et-dolore {
    margin: 0;
    font-weight: 600;
    white-space: pre-wrap;
}
.lorem-ipsum-dolor-container {
    position: absolute;
    top: 55px;
    left: 0px;
    display: inline-block;
    width: 369px;
    height: 295px;
}
.typography {
    position: absolute;
    top: 560px;
    left: 1028px;
    width: 369px;
    height: 449px;
    color: #000;
    font-family: 'Instrument Sans';
}
.color-palette-child {
    position: absolute;
    top: 40px;
    left: 9px;
    max-height: 100%;
    width: 303.9px;
}
.color-palette1 {
    position: absolute;
    top: 0px;
    left: 13.52px;
    display: inline-block;
    font-weight: 700;
    width: 182.1px;
    height: 32.6px;
}
.color-palette-item {
    position: absolute;
    top: 46px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5) inset;
    border-radius: 10px;
    background-color: #fff;
    width: 316px;
    height: 181px;
}
.colors-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: #606c38;
    width: 45.2px;
    height: 50px;
}
.colors-item {
    position: absolute;
    top: 90.73px;
    left: 0px;
    border-radius: 20px;
    background-color: #2c6e49;
    width: 45.2px;
    height: 50px;
}
.colors-inner {
    position: absolute;
    top: 0px;
    left: 49.99px;
    border-radius: 20px;
    background-color: #283618;
    width: 44px;
    height: 50px;
}
.rectangle-div {
    position: absolute;
    top: 90.73px;
    left: 49.99px;
    border-radius: 20px;
    background-color: #4c956c;
    width: 44px;
    height: 50px;
}
.colors-child1 {
    position: absolute;
    top: 0px;
    left: 97.59px;
    border-radius: 20px;
    background-color: #fefae0;
    width: 45.2px;
    height: 50px;
}
.colors-child2 {
    position: absolute;
    top: 90.73px;
    left: 97.59px;
    border-radius: 20px;
    background-color: #fefee3;
    width: 45.2px;
    height: 50px;
}
.colors-child3 {
    position: absolute;
    top: 0px;
    left: 197.57px;
    border-radius: 20px;
    background-color: #d9d9d9;
    width: 44px;
    height: 50px;
}
.colors-child4 {
    position: absolute;
    top: 90.73px;
    left: 197.57px;
    border-radius: 20px;
    background-color: #d9d9d9;
    width: 44px;
    height: 50px;
}
.colors-child5 {
    position: absolute;
    top: 0px;
    left: 147.58px;
    border-radius: 20px;
    background-color: #dda15e;
    width: 45.2px;
    height: 50px;
}
.colors-child6 {
    position: absolute;
    top: 90.73px;
    left: 147.58px;
    border-radius: 20px;
    background-color: #ffc9b9;
    width: 45.2px;
    height: 50px;
}
.colors-child7 {
    position: absolute;
    top: 0px;
    left: 246.36px;
    border-radius: 20px;
    background-color: #bc6c25;
    width: 45.2px;
    height: 50px;
}
.colors-child8 {
    position: absolute;
    top: 90.73px;
    left: 246.36px;
    border-radius: 20px;
    background-color: #d68c45;
    width: 45.2px;
    height: 50px;
}
.colors {
    position: absolute;
    top: 67.47px;
    left: 13px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 291.6px;
    height: 140.8px;
}
.color-palette {
    position: absolute;
    top: 560px;
    left: 675px;
    width: 316px;
    height: 227px;
}
.design-style-child {
    position: absolute;
    top: 42px;
    left: 0px;
    max-height: 100%;
    width: 297px;
}
.design-style1 {
    position: absolute;
    top: 0px;
    left: 1px;
    font-weight: 700;
}
.image-16-icon {
    position: absolute;
    top: 234px;
    left: 457px;
    width: 204px;
    height: 155px;
    object-fit: cover;
    max-width: 100%;

}
.image-15-icon {
    position: absolute;
    top: 59px;
    left: 456px;
    width: 205px;
    height: 160px;
    object-fit: cover;
    max-width: 100%;

}
.image-14-icon {
    position: absolute;
    top: 234px;
    left: 221px;
    width: 212px;
    height: 157px;
    object-fit: cover;
    max-width: 100%;

}
.image-13-icon {
    position: absolute;
    top: 234px;
    left: 0px;
    width: 211px;
    height: 157px;
    object-fit: cover;
    max-width: 100%;

}
.image-12-icon {
    position: absolute;
    top: 64px;
    left: 221px;
    width: 211px;
    height: 159px;
    object-fit: cover;
    max-width: 100%;
}
.image-11-icon {
    position: absolute;
    top: 64px;
    left: 0px;
    width: 207px;
    height: 155px;
    object-fit: cover;
    max-width: 100%;

}
.design-style {
    position: absolute;
    top: 79px;
    left: 688px;
    width: 661px;
    height: 391px;
}
.imagerygraphic1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 700;
}
.imagerygraphic-child {
    position:  absolute;
    top: 42px;
    left: 1px;
    max-height: 100%;
    width: 220px;
}
.image-10-icon {
    position: absolute;
    top: 598px;
    left: 142px;
    width: 119px;
    height: 179px;
    object-fit: cover;
    max-width: 100%;

}
.image-9-icon {
    position: absolute;
    top: 612px;
    left: 0px;
    width: 122px;
    height: 162px;
    object-fit: cover;
    max-width: 100%;

}
.image-8-icon {
    position: absolute;
    top: 401px;
    left: 143px;
    width: 119px;
    height: 179.5px;
    object-fit: cover;
    max-width: 100%;

}
.image-7-icon {
    position: absolute;
    top: 438px;
    left: 1px;
    width: 114px;
    height: 155px;
    object-fit: cover;
    max-width: 100%;

}
.image-6-icon {
    position: absolute;
    top: 240px;
    left: 127px;
    width: 129px;
    height: 128px;
    object-fit: cover;
    max-width: 100%;

}
.image-5-icon {
    position: absolute;
    top: 236px;
    left: 1px;
    width: 106px;
    height: 189px;
    object-fit: cover;
    max-width: 100%;

}
.image-4-icon {
    position: absolute;
    top: 60px;
    left: 127px;
    width: 129px;
    height: 160px;
    object-fit: cover;
    max-width: 100%;

}
.image-3-icon {
    position: absolute;
    top: 60px;
    left: 1px;
    width: 106px;
    height: 158px;
    object-fit: cover;
    max-width: 100%;

}
.imagerygraphic {
    position: absolute;
    top: 79px;
    left: 368px;
    width: 262px;
    height: 777px;
}
.competitive-analysis-child {
    position: absolute;
    top: 40px;
    left: 0px;
    max-height: 100%;
    width: 242px;
    
}
.image-2-icon {
    position: absolute;
    top: 319px;
    left: 5px;
    width: 232px;
    height: 227px;
    object-fit: cover;
    max-width: 100%;

}
.image-1-icon {
    position: absolute;
    top: 56px;
    left: 0px;
    width: 242px;
    height: 233px;
    object-fit: cover;
    max-width: 100%;

}
.competitive-analysis {
    position: absolute;
    top: 81px;
    left: 57px;
    width: 251px;
    height: 546px;
}


