.imagerygraphic {
    position: absolute;
    top: 574px;
    left: 239px;
    font-weight: 700;
}
.ytuz0iy-1-icon {
    position: absolute;
    top: 659px;
    left: 252px;
    width: 138px;
    height: 207px;
    object-fit: cover;
}
.design-style {
    position: absolute;
    top: 16px;
    left: 917px;
    font-weight: 700;
}
.ui-pattern {
    position: absolute;
    top: 24px;
    left: 1698px;
    font-weight: 700;
}
.competitive-analysis {
    position: absolute;
    top: 22px;
    left: 126px;
    font-weight: 700;
}
.color-palette {
    position: absolute;
    top: 566px;
    left: 1616px;
    font-weight: 700;
}
.slide-169-1-child {
    position: absolute;
    top: 636px;
    left: 1514px;
    border-radius: 20px;
    background-color: #606c38;
    width: 59px;
    height: 66px;
}
.slide-169-1-item {
    position: absolute;
    top: 758px;
    left: 1514px;
    border-radius: 20px;
    background-color: #2c6e49;
    width: 59px;
    height: 66px;
}
.slide-169-1-inner {
    position: absolute;
    top: 636px;
    left: 1578px;
    border-radius: 20px;
    background-color: #283618;
    width: 58px;
    height: 66px;
}
.rectangle-div {
    position: absolute;
    top: 758px;
    left: 1578px;
    border-radius: 20px;
    background-color: #4c956c;
    width: 58px;
    height: 66px;
}
.slide-169-1-child1 {
    position: absolute;
    top: 636px;
    left: 1641px;
    border-radius: 20px;
    background-color: #fefae0;
    width: 59px;
    height: 66px;
}
.slide-169-1-child2 {
    position: absolute;
    top: 758px;
    left: 1641px;
    border-radius: 20px;
    background-color: #fefee3;
    width: 59px;
    height: 66px;
}
.slide-169-1-child3 {
    position: absolute;
    top: 636px;
    left: 1769px;
    border-radius: 20px;
    background-color: #d9d9d9;
    width: 59px;
    height: 66px;
}
.slide-169-1-child4 {
    position: absolute;
    top: 758px;
    left: 1769px;
    border-radius: 20px;
    background-color: #d9d9d9;
    width: 59px;
    height: 66px;
}
.slide-169-1-child5 {
    position: absolute;
    top: 636px;
    left: 1705px;
    border-radius: 20px;
    background-color: #dda15e;
    width: 59px;
    height: 66px;
}
.slide-169-1-child6 {
    position: absolute;
    top: 758px;
    left: 1705px;
    border-radius: 20px;
    background-color: #ffc9b9;
    width: 59px;
    height: 66px;
}
.slide-169-1-child7 {
    position: absolute;
    top: 636px;
    left: 1833px;
    border-radius: 20px;
    background-color: #bc6c25;
    width: 59px;
    height: 66px;
}
.slide-169-1-child8 {
    position: absolute;
    top: 758px;
    left: 1833px;
    border-radius: 20px;
    background-color: #d68c45;
    width: 59px;
    height: 66px;
}
.m760fxsm-1-icon {
    position: absolute;
    top: 659px;
    left: 89px;
    width: 133.1px;
    height: 200px;
    object-fit: cover;
}
.pvmv5u57-1-icon {
    position: absolute;
    top: 659px;
    left: 406px;
    width: 168px;
    height: 210px;
    object-fit: cover;
}
.ubka7hfy-1-icon {
    position: absolute;
    top: 659px;
    left: 605px;
    width: 211px;
    height: 211px;
    object-fit: cover;
}
.p5um9xl-1-icon {
    position: absolute;
    top: 890px;
    left: 261px;
    width: 139.2px;
    height: 248px;
    object-fit: cover;
}
.zay00u-1-icon {
    position: absolute;
    top: 886px;
    left: 94px;
    width: 128px;
    height: 192px;
    object-fit: cover;
}
.image-2-icon {
    position: absolute;
    top: 74px;
    left: 882px;
    width: 296px;
    height: 224px;
    object-fit: cover;
}
.image-3-icon {
    position: absolute;
    top: 298px;
    left: 574px;
    width: 295px;
    height: 219px;
    object-fit: cover;
}
.image-4-icon {
    position: absolute;
    top: 298px;
    left: 878px;
    width: 297px;
    height: 219px;
    object-fit: cover;
}
.image-5-icon {
    position: absolute;
    top: 74px;
    left: 580px;
    width: 289px;
    height: 216px;
    object-fit: cover;
}
.image-6-icon {
    position: absolute;
    top: 307px;
    left: 1188px;
    width: 288px;
    height: 217px;
    object-fit: cover;
}
.image-7-icon {
    position: absolute;
    top: 68px;
    left: 1187px;
    width: 289px;
    height: 222px;
    object-fit: cover;
}
.typography {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 700;
    font-family: Inter;
}
.instrument-sans {
    position: absolute;
    top: 49px;
    left: 0px;
}
.instrument-sans1 {
    position: absolute;
    top: 83px;
    left: 0px;
    font-weight: 600;
}
.lorem-ipsum-dolor {
    margin: 0;
    white-space: pre-wrap;
}
.blank-line {
    margin: 0;
}
.labore-et-dolore {
    margin: 0;
    font-weight: 600;
    white-space: pre-wrap;
}
.lorem-ipsum-dolor-container {
    position: absolute;
    top: 127px;
    left: 0px;
    display: inline-block;
    width: 384px;
    height: 253px;
}
.typography-parent {
    position: absolute;
    top: 566px;
    left: 917px;
    width: 384px;
    height: 380px;
    font-family: 'Instrument Sans';
}
.iz74x25-1-icon {
    position: absolute;
    top: 886px;
    left: 413px;
    width: 149px;
    height: 204px;
    object-fit: cover;
}
.image-8-icon {
    position: absolute;
    top: 68px;
    left: 23px;
    width: 242px;
    height: 233px;
    object-fit: cover;
}
.image-9-icon {
    position: absolute;
    top: 74px;
    left: 284px;
    width: 232px;
    height: 227px;
    object-fit: cover;
}
.slide-169-1 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Inter;
}

